<header class="header">
  <h1 class="header-title">My Resume</h1>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link" routerLink="/">Home</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" routerLink="/about">About</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" routerLink="/certificates">Certificates</a>
      </li>
    </ul>
  </nav>
</header>
